body {
  background: lightblue;
  font-family: helvetica neue;
  font-weight: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 10%
}

a {
  overflow: hidden;
  display: inline-block;
  border: 1px solid white;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 22px;
  padding: 15px 30px;
  position: relative;
  
  span {
    z-index: 5;
    position: relative;
  }
  
  &:after {
    content: "";
    display: block;
    background: white;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease;
  }
  
  &:hover:after {
    top: 0%;
  }
  
  &:hover {
    color: lightblue;
  }
  
}


