/* Why does container go before body?*/
.container {
  /* margin: 0 auto; */ /* comment out to keep left-justified */
  width: 960px;
}

.signature {
  float: left;
  text-align: left;
  vertical-align: top;
  font-family: "Calligraffitti";
  font-size: 25px;
  font-style: italic;
  font-variant: normal;
}

/* Defaults for body items */
body { 
  /* font: 75% georgia, sans-serif; */
  font-family: "Comic Sans MS", Helvetica, Arial, sans-serif;
  font-size: 80%;
  line-height: 1.88889;
  color: #B89300; 
  /* background: #fff url('galaxy.jpg'); */ 
  background-color: #341931;
  margin: 0; 
  padding: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

header {
  position: fixed;
  background-color: #615145;
  opacity: 0.8; 
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1000000;

  .logo {
    float: right;
    background-color: black;
  }

  nav {
    float: left;
    background-color: black;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none; 
  }

  nav #main-nav > li {
    float: left;
    position: relative; 
    width: 200px;
    height: 60px;
  }

  nav ul li {
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
  }

  nav ul li:hover {
    background-color: #000047; 
  }


  nav ul.dropdown {
    /* display: none; */
    position: absolute;
    margin-top: -9999px; 
    top: 60px;
    left: 0;
    width: 100%;
    background-color: black; /* black dropdown background */
    opacity: 0; /* so menus aren't visible at first */
    transition: opacity 0.4s ease-in-out; 
  }


  nav li.has-dropdown:hover > ul.dropdown {
    margin-top: 0;  /* required for drop-down to initiate */ 
    opacity: 1;     /* make menu visible on mouse hover   */
  }

  nav ul.dropdown li:hover {
    background-color: #000047;
  }

  nav ul li a {
    display: block;
    padding: 8px 8px 8px 8px;
  }
}



footer {
  width: 100%;
  height: 75px;
  padding-top: 30px;
  background-color: #31302b;
  box-shadow: 2px -2px 30px #000;

  p {
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
}


.homepage-hero {
  width: 100px%;
  height: 125px;
  padding: 16px;
  font-size: 26pt;
}

#content {
  padding-top: 150px;
}

section {
  margin-bottom: 50px;
}



.event {
  padding: 16px;
  display: inline-block;
  margin-right: 25px;

  :last-child {
    margin-right: 0;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
  }

  .overlay.right_to_left {
    top: 0;
    right: 0; /* start at RIGHT first now */
    width: 0;
    height: 350px;
    transition: width 0.5s ease-in-out;
  }

  .overlay.right_to_left {
    width: 100%;
  }

  .overlay.grow {
    top: 0;
    left: 0;
    width: 100%; /* set width maximum initially; gets changed via the 'translate' transform */
    height: 350px; /* set height maximum initially; gets changed via the 'translate' transform */
    transform: scale(0); /* make the overlay dimensionless (width and height to 0) by scaling to 0... means essentialy width * 0, which = 0, and height * 0, which is also 0 */
    transition: transform 0.5s ease-in-out; /* transition the transform! */
  }

  .overlay.left_to_right {
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: width 0.5s ease-in-out; 
  }
}



.upcoming_news {
  overflow: auto;

  .news {
    float: left;
    width: 50%;
    opacity: .50;
    box-sizing: border-box;
  }

  .news.right {
    max-height: 300px;
    padding-left: 30px;
    overflow-y: auto;
  }  
}


