footer {
  /* position */
  display: block; /* TECH NOTE: inline and block left this in middle */ 
    /* of page, but inline-block moved this to bottom of page */ 
  position: relative; /* TECH NOTE: Change this to absolute and ask why it moves up */
  width: 100%; 
  height: 60px;
  clear: both;
  
  /* appearance */
  background-color: #000000;
  box-shadow: 2px -2px 10px #111;
}

.footer_wrap {
  /* position */
  position: relative;
  display: block;  
  width: 100%;
  height: 100%;

  /* appearance */
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;

  .signature {
    background-color: black;

    img {
      float: left;
      padding: 5px;
      margin: 5px;
      width: 200px;
      height: 100%;
    }
  }

  .logo {

    background-color: black;

    img {
      float: right;
      padding: 5px;
      margin: 5px;
      width: 75px;
      height: 100%;
    }
  }



}