header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  z-index: 1000000;

  background-color: #000000;
  opacity: 1; 

  .signature {
    width: 250px;
    height: 60px;
    float: left;
    text-align: center;
    vertical-align: top;
    
    font-family: "Calligraffitti";
    font-size: 25px;
    font-style: italic;
    font-variant: normal;
  }

  .logo {
    float: right;
    background-color: black;
  }

  nav {
    float: left;
    background-color: black;
  

    #main-nav > li {
      float: left;
      position: relative; 
      width: 150px;
      height: 60px;
      text-align: center;
      vertical-align: bottom;
    }
  
    li:before {
      position: absolute;
      left: 0px;
      background-color: #4A4031;   
      content: "";
      width: 1px;
      height: 100%;
    } 

    ul {
      height: 60px;
      margin: 0;
      padding: 0;
      list-style-type: none; 
    
      li {
        -webkit-transition: background-color 0.3s ease-in-out;
        -moz-transition: background-color 0.3s ease-in-out;
        -ms-transition: background-color 0.3s ease-in-out;
        -o-transition: background-color 0.3s ease-in-out;       
        transition: background-color 0.3s ease-in-out;       
      }

      li:hover {
        color: #FFFFFF; /* white */
        outline-style: dotted;
        outline-color: pink;
      }

      .dropdown {
        /* display: none; */
        position: absolute;
        margin-top: -9999px; 
        top: 60px;
        left: 0;
        width: 100%;
        opacity: 0; /* so menus aren't visible at first */
        transition: opacity 0.4s ease-in-out; 
      }

      .dropdown li:hover {
        background-color: #000047;
      }

      li a {
        display: block;
        padding: 8px 8px 8px 8px;
      }
    }

    li.has-dropdown:hover > ul.dropdown {
      margin-top: 0;  /* required for drop-down to initiate */ 
      opacity: 1;     /* make menu visible on mouse hover   */
    }

  }

  .social-media {
    float: right;
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: white;
    background: gray;
    font-size: 14pt;
    font-style: bold;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .social-media.facebook {
    background: #3B5998;
    a {
      text-decoration: none;
      color: white;
    }
  }

  .social-media.twitter {
    background: #0084b4;
    a {
      text-decoration: none;
      color: white;
    }
  }

  .social-media.google-plus {
    background: #d34836;
    a {
      text-decoration: none;
      color: white;
    }
  }

  #google-plus {
    float: right;
    margin: 5px;
    background: #d34836;
    text-align: center;
    color: white;
    font-style: bold;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

}
