
@import "header"; 
@import "footer";

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* position variables */
$wrap-height: 400px;
$wrap-corner: 20px;
$wrap-margin: 5px;
$wrap-padding: 5px; 


/* appearance variables */
$body-bg: #B89300;
$wrap-bg: #7A4E48;
$title-bg: #AAAAAA;
$graphic-bg: #333333; /* same as wrap bg */
$descr-and-links-bg: #84ABAA;
$links-bg: #6B3162;
$text-bg: #333333;
$descr-bg: #C5CEAE;

/* animations */
@keyframes spin_image {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;

  animation: spin_image 3s infinite;
}

body { 
  /* position */
  position: relative; /* TECH NOTE: change to absolute; explain behavior */
  margin: auto; /* TECH NOTE: what does this do? */
  
  /* appearance */ 
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.88889;
  color: $body-bg;
  background-color: #F3FFCF; /* mellow yellow */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
    


  .screen_wide_spacer { /* TECH NOTE: Is there a better solution */
    /* transparent spacer, e.g., btw fixed header and other body elements */
    position: relative;
    width: 98%;
    height: 72px;
  }

  .item_wrap {
    /* position */
    display: block;
    position: relative;
    float: left;
    margin: 5px;
    padding: 5px;
    width: 30%;
    height: 400px;
    
    /* appearance */
    background: #E8CAA4; /* beige */
    font-size: 25px;
    color: white;
    width: 30%;
    border-radius: 20px;

  }

  .wrap {
    /* position */
    display: block;
    position: relative;
    margin: 5px;
    padding: 5px;
    width: 99%;
    height: $wrap-height;

    /* appearance */
    background: $wrap-bg;
    border-radius: $wrap-corner;

    .title {
      /* position */
      width: 99%;
      height: 20%;
      margin: inherit;
      padding: inherit;
      
      /* appearance */
      background: $title-bg;
      border-radius: inherit;
      font-family: "Arial";
      font-size: 28px;
      color: $wrap-bg;

    }

    .graphic {
      /* position */
      float: left;
      width: 20%;
      height: 75%;
      margin: $wrap-margin;
      padding: ($wrap-padding + 5px) $wrap-padding $wrap-padding ($wrap-padding + 15px);

      /* appearance */
      background: $graphic-bg;
      border-radius: inherit;

    }

    .cont-l2 {
    /* position */
    display: block;
    width: 99%;
    height: auto;
    margin: $wrap-margin;
    padding: $wrap-padding;

    /* appearance */
    background: $descr-and-links-bg;
    border-radius: inherit;

      .cont-l3
      {
        /* position */
        width: 70%;
        height: auto;
        margin: $wrap-margin;
        padding: $wrap-padding;

        /* appearance */
        background: $graphic-bg;
        border-radius: inherit;
      }

      .cont-l4
      {
        width: 20%;
        height: auto;
        margin: $wrap-margin;
        padding: $wrap-padding;

        /* appearance */
        background: $graphic-bg;
        border-radius: inherit;
      }

    }

    .descr-and-links {
      /* position */
      display: inline;
      float: right;
      width: 76%;
      height: 75%;
      margin: $wrap-margin;
      padding: $wrap-padding;

      /* appearance */
      background: $descr-and-links-bg;
      border-radius: inherit;

      
      .title {
          /* position */
          float: left;
          width: 76%;
          height: 95%;
          margin: $wrap-margin $wrap-margin ($wrap-margin + 5px) $wrap-margin;
          padding: $wrap-padding + 5px; 

          /* appearance */
          background: $links-bg;
          border-radius: inherit;
          font-family: "Arial";
          font-size: 28px;
          color: $descr-and-links-bg;
          } 


      .description {
        /* position */
        width: 99%;
        height: 65%;
        margin: $wrap-margin $wrap-margin ($wrap-margin + 5px) $wrap-margin;
        padding: $wrap-padding; 

        /* appearance */
        background: $descr-bg;
        border-radius: inherit;  

        .text-descr {
          /* position */
          float: left;
          width: 76%;
          height: 95%;
          margin: $wrap-margin $wrap-margin ($wrap-margin + 5px) $wrap-margin;
          padding: $wrap-padding + 5px; 

          /* appearance */
          background: $text-bg;
          border-radius: inherit;
          font-family: "Arial";
          font-size: 18px;
          color: $descr-and-links-bg;
        }

        .graphic-right {
          /* position */
          float: right;
          width: 20%;
          height: auto;
          vertical-align: middle;
          margin: $wrap-margin;
          padding: ($wrap-padding + 5px) $wrap-padding $wrap-padding ($wrap-padding + 15px);

          background: $graphic-bg;
          border-radius: inherit;
        }

      }

      .links {
        /* position */
        width: 200px;
        height: 28%;
        margin: ($wrap-margin + 5px) $wrap-margin $wrap-margin $wrap-margin;
        padding: ($wrap-padding + 5px) $wrap-margin $wrap-margin $wrap-margin;

        /* appearance */
        background: $links-bg;
        border-radius: inherit;

        .button {
          /* position */
          height: 200px;
          width: 25px;
          margin: 15px;
          padding: 2px;

          /* appearance */
          background: inherit;
          font-family: Helvetica Neue;
          font-weight: bold;
          color: $descr-and-links-bg;
          border: 1px solid $descr-and-links-bg;
          border-radius: 5px;
          transition: all 250ms linear;

          &:hover{
            background-color: $descr-and-links-bg;
            color: $links-bg;
          }
        }  
      }





    }
  }

}


