
@import "header"; 
@import "footer";

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* position variables */
$wrap-height: 400px;
$wrap-corner: 5px;
$wrap-margin: 5px;
$wrap-padding: 5px; 

/* appearance variables */
$body-bg: #B89300;
$wrap-bg: #7A4E48;
$title-bg: #AAAAAA;
$graphic-bg: #333333; /* same as wrap bg */
$descr-and-links-bg: #84ABAA;
$links-bg: #6B3162;
$text-bg: #333333;
$descr-bg: #C5CEAE;
$item-text: #FFFFFF;
$item-bg: #000000;

body { 
  /* position */
  position: relative; /* TECH NOTE: change to absolute; explain behavior */
  margin: auto; /* TECH NOTE: what does this do? */
  
  /* appearance */ 
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.88889;
  color: $body-bg;
  background-color: #F3FFCF; /* mellow yellow */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
    
  .screen_wide_spacer { /* TECH NOTE: Is there a better solution */
    /* transparent spacer, e.g., btw fixed header and other body elements */
    position: relative;
    width: 98%;
    height: 72px;
  }

  .item-wrap {
    /* position */
    display: block;
    position: relative;
    float: left;
    margin: 5px;
    padding: 5px;
    width: 10%;
    height: 300px;
    
    /* appearance */
    color: $item-text;
    background-color: $item-bg;
    font-size: 16pt;
    width: 30%;
    border-radius: $wrap-corner;
    box-shadow: 5px 5px 5px 5px #a6a6a6;

    .item-descr {
      /* appearance */
      color: $item-text;
      font-size: 10pt;

    }

    .item-link {
      /* appearance */
      color: $item-text;
      font-size: 10pt;
    }
  }

  #owl-demo .owl-item {
    margin: 5px;
    background: green;
  }

  #owl-demo .owl-item img {
    display: block;
    width: 100%;
    height: auto;
  }

  .wrap {
    /* position */
    display: block;
    position: relative;
    margin: 5px;
    padding: 5px;
    width: 99%;
    height: $wrap-height;

    /* appearance */
    background: transparent;
    border-radius: $wrap-corner;

    
    .title {
      /* position */
      width: 99%;
      height: 20%;
      margin: inherit;
      padding: inherit;
      
      /* appearance */
      background: $title-bg;
      border-radius: inherit;
      font-family: "Arial";
      font-size: 28px;
      color: $wrap-bg;
    }

    .graphic {
      /* position */
      float: left;
      width: 20%;
      max-width: 100%;
      height: auto;
      margin: $wrap-margin;
      padding: ($wrap-padding + 5px) $wrap-padding $wrap-padding ($wrap-padding + 15px);

      /* appearance */
      background: $graphic-bg;
      border-radius: inherit;
    }

    .descr-and-links {
      /* position */
      display: inline;
      float: right;
      width: 76%;
      height: 75%;
      margin: $wrap-margin;
      padding: $wrap-padding;

      /* appearance */
      background: $descr-and-links-bg;
      border-radius: inherit;

    
      .title {       
        /* position */
        float: left;
        width: 76%;
        height: 95%;
        margin: $wrap-margin $wrap-margin ($wrap-margin + 5px) $wrap-margin;
        padding: $wrap-padding + 10px; 

        /* appearance */
        background: $links-bg;
        border-radius: inherit;
        font-family: "Arial";
        font-size: 28px;
        color: $descr-and-links-bg;
        text-shadow: 2px 2px #333333;
        box-shadow: 2px -2px 10px #111; 
      } 

      .description {
        /* position */
        width: 99%;
        height: 65%;
        margin: $wrap-margin $wrap-margin ($wrap-margin + 5px) $wrap-margin;
        padding: $wrap-padding; 

        /* appearance */
        background: $descr-bg;
        border-radius: inherit;  

        .text-descr {
          /* position */
          float: left;
          width: 76%;
          height: 95%;
          margin: $wrap-margin $wrap-margin ($wrap-margin + 5px) $wrap-margin;
          padding: $wrap-padding + 5px; 

          /* appearance */
          background: $text-bg;
          border-radius: inherit;
          font-family: "Arial";
          font-size: 18px;
          color: $descr-and-links-bg;
        }

        .graphic-right {
          /* position */
          float: right;
          width: 20%;
          max-width: 100%;
          height: auto;
          vertical-align: middle;
          margin: $wrap-margin;
          padding: ($wrap-padding + 5px) $wrap-padding $wrap-padding ($wrap-padding + 15px);

          background: $graphic-bg;
          border-radius: inherit;
        }

      }

      .links {
        /* position */
        width: 200px;
        height: 28%;
        margin: ($wrap-margin + 5px) $wrap-margin $wrap-margin $wrap-margin;
        padding: ($wrap-padding + 5px) $wrap-margin $wrap-margin $wrap-margin;

        /* appearance */
        background: $links-bg;
        border-radius: inherit;

        .button {
          /* position */
          height: 200px;
          width: 25px;
          margin: 15px;
          padding: 2px;

          /* appearance */
          background: inherit;
          font-family: Helvetica Neue;
          font-weight: bold;
          color: $descr-and-links-bg;
          border: 1px solid $descr-and-links-bg;
          border-radius: 5px;
          transition: all 250ms linear;

          &:hover{
            background-color: $descr-and-links-bg;
            color: $links-bg;
          }
        }  
      }
    }


  }
}


