header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  z-index: 1000000;
  background-color: #000000;
  opacity: 1;
}

header .signature {
  width: 250px;
  height: 60px;
  float: left;
  text-align: center;
  vertical-align: top;
  font-family: "Calligraffitti";
  font-size: 25px;
  font-style: italic;
  font-variant: normal;
}

header .logo {
  float: right;
  background-color: black;
}

header nav {
  float: left;
  background-color: black;
}

header nav #main-nav > li {
  float: left;
  position: relative;
  width: 150px;
  height: 60px;
  text-align: center;
  vertical-align: bottom;
}

header nav li:before {
  position: absolute;
  left: 0px;
  background-color: #4A4031;
  content: "";
  width: 1px;
  height: 100%;
}

header nav ul {
  height: 60px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header nav ul li {
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

header nav ul li:hover {
  color: #FFFFFF;
  /* white */
  background-color: #000000;
}

header nav ul .dropdown {
  /* display: none; */
  position: absolute;
  margin-top: -9999px;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in-out;
}

header nav ul .dropdown li:hover {
  background-color: #000047;
}

header nav ul li a {
  display: block;
  padding: 8px 8px 8px 8px;
}

header nav li.has-dropdown:hover > ul.dropdown {
  margin-top: 0;
  /* required for drop-down to initiate */
  opacity: 1;
  /* make menu visible on mouse hover   */
}

header .social-media {
  float: right;
  margin: 10px;
  padding: 5px;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

header .social-media a {
  position: relative;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 16pt;
  transition: all 200ms ease-in-out;
}

header .social-media a:hover {
  transform: rotate(360deg);
  color: white;
  font-weight: bold;
}

header .social-media.facebook {
  background: #3B5998;
}

header .social-media.twitter {
  background: #0084b4;
}

header .social-media.google-plus {
  background: #d34836;
}

footer {
  /* position */
  display: block;
  /* TECH NOTE: inline and block left this in middle */
  /* of page, but inline-block moved this to bottom of page */
  position: relative;
  /* TECH NOTE: Change this to absolute and ask why it moves up */
  width: 100%;
  height: 75px;
  clear: both;
  /* appearance */
  background-color: #2A363B;
  /* gray */
  box-shadow: 2px -2px 10px #111;
}

.footer_wrap {
  /* position */
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  /* appearance */
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer_wrap h4 {
  color: #FFFFFF;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* position variables */
/* appearance variables */
/* same as wrap bg */
body {
  /* position */
  position: relative;
  /* TECH NOTE: change to absolute; explain behavior */
  margin: auto;
  /* TECH NOTE: what does this do? */
  /* appearance */
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.88889;
  background: url("../images/galaxy.jpg");
  background-repeat: repeat;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body .screen_wide_spacer {
  position: relative;
  width: 98%;
  height: 72px;
}

body .wrapper {
  display: block;
  position: relative;
  padding: 5px;
  margin: 5px;
  /* debug only */
  /*  
    box-shadow: 2px 2px 2px 2px #a6a6a6; */
  /* avoid the great collapse */
}

body .wrapper:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

body .wrapper .red {
  margin: 0 auto;
  width: 940px;
  height: auto;
  /* outline: 1px dotted red; */
}

body .wrapper .orange {
  position: relative;
  padding: 5px;
  margin: 5px;
  float: left;
  width: 97%;
  height: auto;
  border-radius: 10px;
  /* outline: 1px dotted orange; */
  box-shadow: 1px 1px 1px 1px #EA804C;
  background: #000000;
}

body .wrapper .orange h1 {
  display: inline-block;
  width: 50%;
  height: auto;
  margin: 5px;
  color: #A5B3AA;
  font-size: 20pt;
}

body .wrapper .orange h2 {
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 5px;
  color: #A5B3AA;
  font-size: 16pt;
}

body .wrapper .orange img {
  float: right;
  padding: 5px;
  margin: 5px;
  width: 25%;
  height: 100%;
}

body .wrapper .orange p {
  font-size: 12pt;
  color: #A5B3AA;
  text-align: justify;
}

body .wrapper .orange a {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #2790B0;
  text-align: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px;
  position: relative;
  border-radius: 5px;
}

body .wrapper .orange a span {
  z-index: 5;
  position: relative;
}

body .wrapper .orange a:after {
  content: "";
  display: block;
  background: #333333;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 250ms ease-in-out;
}

body .wrapper .orange a:hover:after {
  top: 0%;
}

body .wrapper .orange a:hover {
  color: #F1DB42;
}

body .wrapper .green {
  position: relative;
  padding: 5px;
  margin: 5px;
  float: left;
  width: 55%;
  height: auto;
  border-radius: 10px;
  /* outline: 1px dotted green; */
  box-shadow: 1px 1px 1px 1px #A7BFA0;
  background: #000000;
  opacity: 0.8;
}

body .wrapper .green h1 {
  width: 100%;
  height: auto;
  margin: 5px;
  color: #A5B3AA;
  font-size: 20pt;
}

body .wrapper .green h2 {
  width: 100%;
  height: auto;
  margin: 5px;
  color: #A5B3AA;
  font-size: 12pt;
}

body .wrapper .green p {
  text-align: justify;
  font-size: 12pt;
  margin: 5px;
  padding-bottom: 10px;
  color: #A5B3AA;
}

body .wrapper .green img {
  float: left;
  padding: 5px;
  margin: 5px;
  width: 30%;
  height: 100%;
}

body .wrapper .green a {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #2790B0;
  text-align: center;
  color: #2790B0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px;
  position: relative;
  border-radius: 5px;
}

body .wrapper .green a span {
  z-index: 5;
  position: relative;
}

body .wrapper .green a:after {
  content: "";
  display: block;
  background: #333333;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 200ms ease-in-out;
}

body .wrapper .green a:hover:after {
  top: 0%;
}

body .wrapper .green a:hover {
  color: #F1DB42;
}

body .wrapper .yellow {
  position: relative;
  padding: 5px;
  margin: 5px;
  float: left;
  width: 40%;
  height: auto;
  border-radius: 10px;
  /* outline: 1px dotted yellow; */
  box-shadow: 2px 2px 2px 2px #EDE7BE;
  background: #000000;
  opacity: 0.8;
}

body .wrapper .yellow h1 {
  width: 100%;
  height: auto;
  margin: 5px;
  color: #A5B3AA;
  font-size: 20pt;
}

body .wrapper .yellow h2 {
  width: 100%;
  height: auto;
  margin: 5px;
  color: #A5B3AA;
  font-size: 12pt;
}

body .wrapper .yellow h2:before {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  content: "";
  width: 90%;
  height: 1px;
  box-shadow: 1px 1px 1px 1px #A5B3AA;
}

body .wrapper .yellow p {
  margin: 5px;
  padding-bottom: 10px;
  display: inline-block;
  width: 55%;
  text-align: justify;
  font-size: 12pt;
  color: #A5B3AA;
}

body .wrapper .yellow img {
  float: right;
  width: 35%;
  height: 100%;
}

body .wrapper .yellow a {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #2790B0;
  text-align: center;
  color: #2790B0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px;
  position: relative;
  border-radius: 5px;
}

body .wrapper .yellow a span {
  z-index: 5;
  position: relative;
}

body .wrapper .yellow a:after {
  content: "";
  display: block;
  background: #333333;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 200ms ease-in-out;
}

body .wrapper .yellow a:hover:after {
  top: 0%;
}

body .wrapper .yellow a:hover {
  color: #F1DB42;
}

body .graphic {
  padding: 5px;
  margin: 5px;
  width: 20%;
  height: 100%;
}

body .graphic .one {
  float: left;
  overflow: hidden;
  box-shadow: inherit;
}

body .graphic .one img {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: inherit;
}

body #owl-demo {
  width: 100%;
}

body #owl-demo .owl-item {
  margin: 5px;
  width: 100%;
}

body #owl-demo .owl-item img {
  display: block;
  width: 100%;
  height: auto;
}

body .item-wrap {
  /* position */
  display: block;
  position: relative;
  float: left;
  margin: 5px;
  padding: 5px;
  width: 10%;
  height: 300px;
  /* appearance */
  color: #FFFFFF;
  background-color: #000000;
  font-size: 16pt;
  width: 30%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px #a6a6a6;
}

body .item-wrap .item-descr {
  /* appearance */
  color: #FFFFFF;
  font-size: 10pt;
}

body .item-wrap .item-link {
  /* appearance */
  color: #FFFFFF;
  font-size: 10pt;
}

body .wrap {
  /* position */
  display: block;
  position: relative;
  margin: 5px;
  padding: 5px;
  width: 99%;
  height: 400px;
  /* appearance */
  background: #7A4E48;
  border-radius: 5px;
}

body .wrap .title {
  /* position */
  width: 99%;
  height: 20%;
  margin: inherit;
  padding: inherit;
  /* appearance */
  background: #AAAAAA;
  border-radius: inherit;
  font-family: "Arial";
  font-size: 28px;
  color: #7A4E48;
}

body .wrap .graphic {
  /* position */
  position: relative;
  float: left;
  width: 20%;
  height: 75%;
  /* height: auto; */
  margin: 5px;
  padding: 10px 5px 5px 20px;
  /* appearance */
  background: #333333;
  border-radius: inherit;
  overflow: hidden;
}

body .wrap .graphic img {
  position: relative;
  width: 100%;
  height: 100%;
}

body .wrap .descr-and-links {
  /* position */
  display: inline;
  float: right;
  width: 76%;
  height: 75%;
  margin: 5px;
  padding: 5px;
  /* appearance */
  background: #84ABAA;
  border-radius: inherit;
}

body .wrap .descr-and-links .title {
  /* position */
  float: left;
  width: 76%;
  height: 95%;
  margin: 5px 5px 10px 5px;
  padding: 15px;
  /* appearance */
  background: #6B3162;
  border-radius: inherit;
  font-family: "Arial";
  font-size: 28px;
  color: #84ABAA;
  text-shadow: 2px 2px #333333;
  box-shadow: 2px -2px 10px #111;
  background: url("images/galaxy2.jpg");
}

body .wrap .descr-and-links .description {
  /* position */
  width: 99%;
  height: 65%;
  margin: 5px 5px 10px 5px;
  padding: 5px;
  /* appearance */
  background: #C5CEAE;
  border-radius: inherit;
  /* take this out? */
}

body .wrap .descr-and-links .description .text-descr {
  /* position */
  float: left;
  width: 76%;
  height: 95%;
  margin: 5px 5px 10px 5px;
  padding: 10px;
  /* appearance */
  background: #333333;
  border-radius: inherit;
  font-family: "Arial";
  font-size: 18px;
  color: #84ABAA;
}

body .wrap .descr-and-links .description .graphic-right {
  /* position */
  float: right;
  width: 20%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  margin: 5px;
  padding: 10px 5px 5px 20px;
  background: #333333;
  border-radius: inherit;
}

body .wrap .descr-and-links .links {
  /* position */
  width: 200px;
  height: 28%;
  margin: 10px 5px 5px 5px;
  padding: 10px 5px 5px 5px;
  /* appearance */
  background: #6B3162;
  border-radius: inherit;
}

body .wrap .descr-and-links .links .button {
  /* position */
  height: 200px;
  width: 25px;
  margin: 15px;
  padding: 2px;
  /* appearance */
  background: inherit;
  font-family: Helvetica Neue;
  font-weight: bold;
  color: #84ABAA;
  border: 1px solid #84ABAA;
  border-radius: 5px;
  transition: all 250ms linear;
}

body .wrap .descr-and-links .links .button:hover {
  background-color: #84ABAA;
  color: #6B3162;
}
