.container {
  /* margin: 0 auto;  /* comment out to keep left-justified */
  width: 100%;
  height: 55px;
}

.signature {
  width: 250px;
  height: 60px;
  float: left;
  text-align: center;
  vertical-align: top;
  font-family: "Calligraffitti";
  font-size: 25px;
  font-style: italic;
  font-variant: normal;
}

/* Defaults for body items */
body { 
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.88889;
  color: #B89300; 
  /* background: #fff url('galaxy.jpg'); */ 
  background-color: #F3FFCF;
  margin: auto; 
  padding: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  .jpg-frame {
    float: left;
    position: absolute;
    width: 250px;
    height: 400px;
  }
}

header {
  position: fixed;
  background-color: #000000;
  opacity: 1; 
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1000000;

  .logo {
    background-color: black;
    float: right;
  }

  nav {
    float: left;
    background-color: black;
  

    #main-nav > li {
      float: left;
      position: relative; 
      width: 150px;
      height: 60px;
      text-align: center;
      vertical-align: bottom;
    }
  
    li:before {
      position: absolute;
      left: 0px;
      background-color: #4A4031;   
      content: "";
      width: 1px;
      height: 100%;
    } 

    ul {
      height: 60px;
      margin: 0;
      padding: 0;
      list-style-type: none; 
    
      li {
        -webkit-transition: background-color 0.3s ease-in-out;
        -moz-transition: background-color 0.3s ease-in-out;
        -ms-transition: background-color 0.3s ease-in-out;
        -o-transition: background-color 0.3s ease-in-out;
      }

      li:hover {
        background-color: #000047; 
      }

      .dropdown {
        /* display: none; */
        position: absolute;
        margin-top: -9999px; 
        top: 60px;
        left: 0;
        width: 100%;
        background-color: black; /* black dropdown background */
        opacity: 0; /* so menus aren't visible at first */
        transition: opacity 0.4s ease-in-out; 
      }

      .dropdown li:hover {
        background-color: #000047;
      }

      li a {
        display: block;
        padding: 8px 8px 8px 8px;
      }
    }

    li.has-dropdown:hover > ul.dropdown {
      margin-top: 0;  /* required for drop-down to initiate */ 
      opacity: 1;     /* make menu visible on mouse hover   */
    }

  }
}


footer {
  width: 100%;
  height: 75px;
  padding-top: 30px;
  background-color: #31302b;
  box-shadow: 2px -2px 30px #000;

  p {
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
}

.homepage-hero {
  float: left;
  width: 100%;
  height: 125px;
  padding: 16px;
  font-size: 26pt;
}

#content {
  padding-top: 10px;
}

section {
  margin-bottom: 50px;
}

.event {
  padding: 16px;
  display: inline-block;
  margin-right: 25px;

  :last-child {
    margin-right: 0;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
  }

  .overlay.right_to_left {
    top: 0;
    right: 0; /* start at RIGHT first now */
    width: 0;
    height: 350px;
    transition: width 0.5s ease-in-out;
  }

  .overlay.right_to_left {
    width: 100%;
  }

  .overlay.grow {
    top: 0;
    left: 0;
    width: 100%; /* set width maximum initially; gets changed via the 'translate' transform */
    height: 350px; /* set height maximum initially; gets changed via the 'translate' transform */
    transform: scale(0); /* make the overlay dimensionless (width and height to 0) by scaling to 0... means essentialy width * 0, which = 0, and height * 0, which is also 0 */
    transition: transform 0.5s ease-in-out; /* transition the transform! */
  }

  .overlay.left_to_right {
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: width 0.5s ease-in-out; 
  }
}



.upcoming_news {
  overflow: auto;

  .news {
    float: left;
    width: 50%;
    opacity: .50;
    box-sizing: border-box;
  }

  .news.right {
    max-height: 300px;
    padding-left: 30px;
    overflow-y: auto;
  }  
}
