body {
  background-color: #600000;
}

#box-top {
  max-width: 100%;
  min-height: 40em;
  max-height: auto;
  margin-left: 0.5em;
  padding: 1em;
  padding-bottom: 5em;
  position: relative;
  z-index: 90;
}

#name-and-nav {
  background-color: #674F23;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)));
  border-radius: 1em;
  width: 90%;
  height: 30em;
  position: absolute;
  top: 0em;
  left: 0em;
  z-index: 100;
}

#name {
  font-family: "Orbitron";
  font-size: 28pt;
  color: yellow;
  margin-left: 0.5em;
}

#social-media-bar {
  position: absolute;
  top: 6em;
  left: 0;
  width: 5.5em;
  padding: 1em;
  height: auto;
  list-style-type: none;
  z-index: 110;
}

.social-media-widget {
  position: relative;
  width: 100%;
  margin-top: 0.5em;
  height: auto;
  clip-path: polygon(0% 50%, 25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%);
}

#headshot-and-highlights {
  background-color: #111111; 
  /* background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0,0,0,0.9)), to(rgba(0,0,0,0.0))); */
  border-radius: 1em;
  max-width: 90%;
  min-height: 10em;
  max-height: 90%;
  position: relative;
  top: 5em;
  left: 7em;
  z-index: 150;
}

#headshot {
  margin: auto 0;
  max-height: 100%;
  padding: 1em;
}

#small-book-grid {
  max-height: 100%;
  margin: auto 0;
  max-width: 75%;
}

.small-book {
  margin: 1em;
  max-width: 15em;
  max-height: 100%;
}

/* smaller viewport */
.tall-rectangle {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222222), to(rgba(0,0,0,0)));
  max-width: 100%;
  min-height: 30em;
  padding: 1em;
  margin: 1em;
  background-color: #674F23;
  border-radius: 0.5em;
}

/* larger viewports */
@media (min-width: 768px) {
  .tall-rectangle {
    position: absolute;
    max-width: 100%;
    min-height: 60em;
    padding: 2em;
    margin: 0.5em;
    border-radius: 0.5em;
    width: 30%;
    min-height: 40em;
  }
}

/* smaller viewport, default settings */
#box-middle-medium {
  position: relative;
  max-width: 100%;
  min-height: 60em;
  max-height: auto;
  padding: 2em;
  margin: 0.5em;
  border-radius: 0.5em;
}

/* larger viewports */
@media (min-width: 768px) {
  #novels {
    background-color: #674F23;
    top: 0em;
    left: 0em;
    width: 33%;
    z-index: 100;
  }
}

/* larger viewports */
@media (min-width: 768px) {
  #articles {
    background-color: #674F33;
    top: 2.5em;
    left: 30%;
    width: 33%;
    z-index: 150;
  }  
}

/* larger viewports */
@media (min-width: 768px) {
  #blog {
    background-color: #674F43;
    top: 5em;
    left: 60%;
    width: 33%;
    z-index: 200;
  }
}

.my-list {
  color: #AAAAAA;
  font: sans-serif;
  font-size: 11pt;
  padding-left: 1em;
  padding-right: 25%; 
}

.text-1 {
  color: white;
}

#novels-id {
  font-family: "Orbitron";
  font-size: 18pt;
  color: yellow;
}

#articles-id {
  font-family: "Orbitron";
  font-size: 18pt;
  color: yellow;
}

#blog-id {
  font-family: "Orbitron";
  font-size: 18pt;
  color: yellow;
}

.buy-link {
  font-size: 14pt;
  font-family: 'Audiowide', cursive;
  margin: 0 auto;
  float: none;
}

.hex {
  cursor: pointer;
  fill-opacity: 0.4;
  stroke: #000;
  stroke-width: 1;
}



/* troubleshooting */
/*
.outline {
  outline-style: dotted; 
  height: auto; 
  padding: 1em;
}

.red {
  outline-color: red;
}

.blue {
  outline-color: blue;
}

.green {
  outline-color: green;
}

.yellow {
  outline-color: yellow;
}
*/
