/* line 1, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  z-index: 1000000;
  background-color: #000000;
  opacity: 1; }
  /* line 12, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
  header .signature {
    width: 250px;
    height: 60px;
    float: left;
    text-align: center;
    vertical-align: top;
    font-family: "Calligraffitti";
    font-size: 25px;
    font-style: italic;
    font-variant: normal; }
  /* line 25, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
  header .logo {
    float: right;
    background-color: black; }
  /* line 30, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
  header nav {
    float: left;
    background-color: black; }
    /* line 35, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
    header nav #main-nav > li {
      float: left;
      position: relative;
      width: 150px;
      height: 60px;
      text-align: center;
      vertical-align: bottom; }
    /* line 44, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
    header nav li:before {
      position: absolute;
      left: 0px;
      background-color: #4A4031;
      content: "";
      width: 1px;
      height: 100%; }
    /* line 53, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
    header nav ul {
      height: 60px;
      margin: 0;
      padding: 0;
      list-style-type: none; }
      /* line 59, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
      header nav ul li {
        -webkit-transition: background-color 0.3s ease-in-out;
        -moz-transition: background-color 0.3s ease-in-out;
        -ms-transition: background-color 0.3s ease-in-out;
        -o-transition: background-color 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out; }
      /* line 67, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
      header nav ul li:hover {
        color: #FFFFFF;
        /* white */
        outline-style: dotted;
        outline-color: pink; }
      /* line 73, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
      header nav ul .dropdown {
        /* display: none; */
        position: absolute;
        margin-top: -9999px;
        top: 60px;
        left: 0;
        width: 100%;
        opacity: 0;
        /* so menus aren't visible at first */
        transition: opacity 0.4s ease-in-out; }
      /* line 84, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
      header nav ul .dropdown li:hover {
        background-color: #000047; }
      /* line 88, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
      header nav ul li a {
        display: block;
        padding: 8px 8px 8px 8px; }
    /* line 94, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
    header nav li.has-dropdown:hover > ul.dropdown {
      margin-top: 0;
      /* required for drop-down to initiate */
      opacity: 1;
      /* make menu visible on mouse hover   */ }

/* line 1, /Users/mkruza/2.2/source/assets/stylesheets/_footer.scss */
footer {
  /* position */
  display: block;
  /* TECH NOTE: inline and block left this in middle */
  /* of page, but inline-block moved this to bottom of page */
  position: relative;
  /* TECH NOTE: Change this to absolute and ask why it moves up */
  width: 100%;
  height: 150px;
  clear: both;
  /* appearance */
  background-color: #2A363B;
  /* gray */
  box-shadow: 2px -2px 10px #111; }

/* line 15, /Users/mkruza/2.2/source/assets/stylesheets/_footer.scss */
.footer_wrap {
  /* position */
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  /* appearance */
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px; }

/* line 4, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
*,
*:before,
*:after {
  box-sizing: border-box; }

/* position variables */
/* appearance variables */
/* same as wrap bg */
/* line 27, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
body {
  /* position */
  position: relative;
  /* TECH NOTE: change to absolute; explain behavior */
  margin: auto;
  /* TECH NOTE: what does this do? */
  /* appearance */
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.88889;
  background: url("../images/galaxy.jpg");
  background-repeat: repeat;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }
  /* line 41, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
  body .screen_wide_spacer {
    position: relative;
    width: 98%;
    height: 72px; }
  /* line 47, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
  body .wrapper {
    display: block;
    position: relative;
    padding: 5px;
    margin: 5px;
    /* debug only */
    /*  */
    box-shadow: 2px 2px 2px 2px #a6a6a6;
    /* avoid the great collapse */ }
    /* line 56, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
    body .wrapper:after {
      content: "";
      display: block;
      height: 0;
      clear: both; }
    /* line 63, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
    body .wrapper .red {
      margin: 0 auto;
      width: 940px;
      height: auto;
      outline: 1px dotted red; }
    /* line 70, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
    body .wrapper .orange {
      position: relative;
      width: 60%;
      height: auto;
      border-radius: 10px;
      outline: 1px dotted orange; }
      /* line 77, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
      body .wrapper .orange img {
        width: 100%;
        height: 100%; }
    /* line 84, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
    body .wrapper p {
      padding: 5px;
      margin: 5px;
      color: #A5B3AA;
      font-size: 12pt; }
    /* line 91, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
    body .wrapper h1 {
      color: #F8F4E4;
      font-size: 18pt; }
  /* line 98, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
  body .graphic {
    padding: 5px;
    margin: 5px;
    width: 20%;
    height: 100%; }
    /* line 104, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
    body .graphic .one {
      float: left;
      overflow: hidden;
      box-shadow: inherit; }
      /* line 109, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
      body .graphic .one img {
        position: relative;
        width: 100%;
        height: 100%;
        box-shadow: inherit; }
  /* line 121, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
  body .item-wrap {
    /* position */
    display: block;
    position: relative;
    float: left;
    margin: 5px;
    padding: 5px;
    width: 10%;
    height: 300px;
    /* appearance */
    color: #FFFFFF;
    background-color: #000000;
    font-size: 16pt;
    width: 30%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px #a6a6a6; }
    /* line 139, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
    body .item-wrap .item-descr {
      /* appearance */
      color: #FFFFFF;
      font-size: 10pt; }
    /* line 146, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
    body .item-wrap .item-link {
      /* appearance */
      color: #FFFFFF;
      font-size: 10pt; }
  /* line 153, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
  body #owl-demo {
    width: 100%; }
  /* line 157, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
  body #owl-demo .owl-item {
    margin: 5px;
    width: 100%; }
  /* line 162, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
  body #owl-demo .owl-item img {
    display: block;
    width: 100%;
    height: auto; }
  /* line 168, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
  body .wrap {
    /* position */
    display: block;
    position: relative;
    margin: 5px;
    padding: 5px;
    width: 99%;
    height: 400px;
    /* appearance */
    background: #7A4E48;
    border-radius: 5px; }
    /* line 181, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
    body .wrap .title {
      /* position */
      width: 99%;
      height: 20%;
      margin: inherit;
      padding: inherit;
      /* appearance */
      background: #AAAAAA;
      border-radius: inherit;
      font-family: "Arial";
      font-size: 28px;
      color: #7A4E48; }
    /* line 196, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
    body .wrap .graphic {
      /* position */
      position: relative;
      float: left;
      width: 20%;
      height: 75%;
      /* height: auto; */
      margin: 5px;
      padding: 10px 5px 5px 20px;
      /* appearance */
      background: #333333;
      border-radius: inherit;
      overflow: hidden; }
      /* line 211, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
      body .wrap .graphic img {
        position: relative;
        width: 100%;
        height: 100%; }
    /* line 219, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
    body .wrap .descr-and-links {
      /* position */
      display: inline;
      float: right;
      width: 76%;
      height: 75%;
      margin: 5px;
      padding: 5px;
      /* appearance */
      background: #84ABAA;
      border-radius: inherit; }
      /* line 233, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
      body .wrap .descr-and-links .title {
        /* position */
        float: left;
        width: 76%;
        height: 95%;
        margin: 5px 5px 10px 5px;
        padding: 15px;
        /* appearance */
        background: #6B3162;
        border-radius: inherit;
        font-family: "Arial";
        font-size: 28px;
        color: #84ABAA;
        text-shadow: 2px 2px #333333;
        box-shadow: 2px -2px 10px #111;
        background: url("images/galaxy2.jpg"); }
      /* line 253, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
      body .wrap .descr-and-links .description {
        /* position */
        width: 99%;
        height: 65%;
        margin: 5px 5px 10px 5px;
        padding: 5px;
        /* appearance */
        background: #C5CEAE;
        border-radius: inherit;
        /* take this out? */ }
        /* line 264, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
        body .wrap .descr-and-links .description .text-descr {
          /* position */
          float: left;
          width: 76%;
          height: 95%;
          margin: 5px 5px 10px 5px;
          padding: 10px;
          /* appearance */
          background: #333333;
          border-radius: inherit;
          font-family: "Arial";
          font-size: 18px;
          color: #84ABAA; }
        /* line 281, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
        body .wrap .descr-and-links .description .graphic-right {
          /* position */
          float: right;
          width: 20%;
          max-width: 100%;
          height: auto;
          vertical-align: middle;
          margin: 5px;
          padding: 10px 5px 5px 20px;
          background: #333333;
          border-radius: inherit; }
      /* line 297, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
      body .wrap .descr-and-links .links {
        /* position */
        width: 200px;
        height: 28%;
        margin: 10px 5px 5px 5px;
        padding: 10px 5px 5px 5px;
        /* appearance */
        background: #6B3162;
        border-radius: inherit; }
        /* line 308, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
        body .wrap .descr-and-links .links .button {
          /* position */
          height: 200px;
          width: 25px;
          margin: 15px;
          padding: 2px;
          /* appearance */
          background: inherit;
          font-family: Helvetica Neue;
          font-weight: bold;
          color: #84ABAA;
          border: 1px solid #84ABAA;
          border-radius: 5px;
          transition: all 250ms linear; }
          /* line 324, /Users/mkruza/2.2/source/assets/stylesheets/global.scss */
          body .wrap .descr-and-links .links .button:hover {
            background-color: #84ABAA;
            color: #6B3162; }
