/* line 1, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  z-index: 1000000;
  background-color: #000000;
  opacity: 1; }
  /* line 12, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
  header .signature {
    width: 250px;
    height: 60px;
    float: left;
    text-align: center;
    vertical-align: top;
    font-family: "Calligraffitti";
    font-size: 25px;
    font-style: italic;
    font-variant: normal; }
  @media (min-width: 780px) {
    /* line 1, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
    header {
      /* end nav */ }
      /* line 26, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
      header nav {
        float: left;
        background-color: black; }
        /* line 30, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
        header nav #main-nav > li {
          float: left;
          position: relative;
          width: 120px;
          height: 60px;
          text-align: center;
          vertical-align: bottom; }
        /* line 39, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
        header nav li:before {
          position: absolute;
          left: 0px;
          background-color: #4A4031;
          content: "";
          width: 1px;
          height: 100%; }
        /* line 48, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
        header nav ul {
          height: 60px;
          margin: 0;
          padding: 0;
          list-style-type: none; }
          /* line 54, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
          header nav ul li {
            background-color: #000000;
            -webkit-transition: background-color 0.3s ease-in-out;
            -moz-transition: background-color 0.3s ease-in-out;
            -ms-transition: background-color 0.3s ease-in-out;
            -o-transition: background-color 0.3s ease-in-out;
            transition: background-color 0.3s ease-in-out; }
          /* line 63, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
          header nav ul li:hover {
            color: #FFFFFF;
            /* white */
            background-color: #000000; }
          /* line 68, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
          header nav ul .dropdown {
            /* display: none; */
            position: absolute;
            margin-top: -9999px;
            top: 60px;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity 1s ease-in-out; }
          /* line 79, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
          header nav ul .dropdown li:hover {
            background-color: #000047; }
          /* line 83, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
          header nav ul li a {
            display: block;
            padding: 8px 8px 8px 8px; }
        /* line 90, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
        header nav li.has-dropdown:hover > ul.dropdown {
          margin-top: 0;
          /* required for drop-down to initiate */
          opacity: 1;
          /* make menu visible on mouse hover   */ } }
  @media (max-width: 780px) {
    /* line 100, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
    header nav {
      display: none; } }
  /* line 105, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
  header .social-media {
    float: right;
    margin: 10px;
    padding: 5px;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%; }
  /* line 115, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
  header .social-media a {
    position: relative;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 12pt;
    transition: all 200ms ease-in-out; }
    /* line 123, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
    header .social-media a:hover {
      transform: rotate(360deg);
      color: white;
      font-weight: bold; }
  /* line 131, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
  header .social-media.facebook {
    background: #3B5998; }
  /* line 135, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
  header .social-media.twitter {
    background: #0084b4; }
  /* line 139, /Users/mkruza/2.2/source/assets/stylesheets/_header.scss */
  header .social-media.google-plus {
    background: #d34836; }

/* line 1, /Users/mkruza/2.2/source/assets/stylesheets/_footer.scss */
footer {
  /* position */
  display: block;
  /* TECH NOTE: inline and block left this in middle */
  /* of page, but inline-block moved this to bottom of page */
  position: relative;
  /* TECH NOTE: Change this to absolute and ask why it moves up */
  width: 100%;
  height: 60px;
  clear: both;
  /* appearance */
  background-color: #000000;
  box-shadow: 2px 2px 2px 2px #111; }

/* line 15, /Users/mkruza/2.2/source/assets/stylesheets/_footer.scss */
.footer_wrap {
  /* position */
  position: relative;
  display: block;
  width: 100%;
  height: 100%; }
  /* line 22, /Users/mkruza/2.2/source/assets/stylesheets/_footer.scss */
  .footer_wrap .signature {
    background-color: black; }
    /* line 25, /Users/mkruza/2.2/source/assets/stylesheets/_footer.scss */
    .footer_wrap .signature a img {
      float: left;
      width: 200px;
      height: 100%; }
  /* line 32, /Users/mkruza/2.2/source/assets/stylesheets/_footer.scss */
  .footer_wrap .logo {
    background-color: black; }
    /* line 36, /Users/mkruza/2.2/source/assets/stylesheets/_footer.scss */
    .footer_wrap .logo a img {
      float: right;
      width: 75px;
      height: 100%; }

/* line 4, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
*,
*:before,
*:after {
  box-sizing: border-box; }

/* line 10, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
body {
  /* position */
  position: relative;
  /* TECH NOTE: change to absolute; explain behavior */
  margin: auto;
  /* TECH NOTE: what does this do? */
  /* appearance */
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.88889;
  background: #7EC0EE;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }
  /* line 23, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
  body .screen_wide_spacer {
    position: relative;
    width: 98%;
    height: 72px; }
    /* line 28, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
    body .screen_wide_spacer a {
      overflow: hidden;
      display: inline-block;
      border: 1px solid #2790B0;
      text-align: center;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      padding: 5px;
      position: relative;
      border-radius: 5px; }
      /* line 41, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
      body .screen_wide_spacer a span {
        z-index: 5;
        position: relative; }
      /* line 46, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
      body .screen_wide_spacer a:after {
        content: "";
        display: block;
        background: #333333;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 250ms ease-in-out; }
      /* line 58, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
      body .screen_wide_spacer a:hover:after {
        top: 0%; }
      /* line 62, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
      body .screen_wide_spacer a:hover {
        color: #F1DB42; }
  /* line 69, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
  body .wrapper {
    display: block;
    position: relative;
    padding: 5px;
    margin: 5px;
    /* avoid the great collapse */ }
    /* line 76, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
    body .wrapper:after {
      content: "";
      display: block;
      height: 0;
      clear: both; }
    /* line 83, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
    body .wrapper .red {
      margin: 0 auto;
      width: 100%;
      height: auto;
      outline: 1px dotted red; }
    @media (min-width: 780px) {
      /* line 91, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
      body .wrapper .green {
        position: relative;
        padding: 5px;
        margin: 5px;
        float: left;
        width: 90%;
        height: auto;
        border-radius: 10px;
        /* outline: 1px dotted green; */
        box-shadow: 1px 1px 1px 1px #A7BFA0;
        background: #000000;
        opacity: 0.8; } }
    @media (max-width: 779px) {
      /* line 107, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
      body .wrapper .green {
        position: relative;
        padding: 5px;
        margin: 5px;
        float: left;
        width: 90%;
        height: auto;
        border-radius: 10px;
        /* outline: 1px dotted green; */
        box-shadow: 1px 1px 1px 1px #A7BFA0;
        background: #000000;
        opacity: 0.8; } }
    /* line 122, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
    body .wrapper .green h1 {
      width: 100%;
      height: auto;
      margin: 5px;
      color: #A5B3AA;
      font-size: 20pt; }
    /* line 130, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
    body .wrapper .green h2 {
      width: 100%;
      height: auto;
      margin: 5px;
      color: #A5B3AA;
      font-size: 12pt; }
    /* line 138, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
    body .wrapper .green p {
      text-align: justify;
      font-size: 12pt;
      margin: 5px;
      padding-bottom: 10px;
      color: #A5B3AA; }
    /* line 146, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
    body .wrapper .green img {
      float: left;
      padding: 5px;
      margin: 5px;
      width: 40%;
      height: 100%; }
    /* line 154, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
    body .wrapper .green a {
      overflow: hidden;
      display: inline-block;
      border: 1px solid #2790B0;
      text-align: center;
      color: #2790B0;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      padding: 5px;
      position: relative;
      border-radius: 5px; }
      /* line 167, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
      body .wrapper .green a span {
        z-index: 5;
        position: relative; }
      /* line 172, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
      body .wrapper .green a:after {
        content: "";
        display: block;
        background: #333333;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 200ms ease-in-out; }
      /* line 184, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
      body .wrapper .green a:hover:after {
        top: 0%; }
      /* line 188, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
      body .wrapper .green a:hover {
        color: #F1DB42; }
    @media (min-width: 780px) {
      /* line 195, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
      body .wrapper .yellow {
        position: relative;
        padding: 5px;
        margin: 5px;
        float: left;
        width: 40%;
        height: auto;
        border-radius: 10px;
        /* outline: 1px dotted yellow; */
        box-shadow: 2px 2px 2px 2px #EDE7BE;
        background: #000000;
        opacity: 0.8; } }
    @media (max-width: 779px) {
      /* line 211, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
      body .wrapper .yellow {
        position: relative;
        padding: 5px;
        margin: 5px;
        float: left;
        width: 100%;
        height: auto;
        border-radius: 10px;
        /* outline: 1px dotted yellow; */
        box-shadow: 2px 2px 2px 2px #EDE7BE;
        background: #000000;
        opacity: 0.8; } }
    /* line 226, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
    body .wrapper .yellow h1 {
      display: inline-block;
      width: 100%;
      height: auto;
      margin: 5px;
      color: #A5B3AA;
      font-size: 20pt; }
    /* line 236, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
    body .wrapper .yellow h2 {
      display: inline-block;
      width: 100%;
      height: auto;
      margin: 5px;
      color: #A5B3AA;
      font-size: 12pt; }
      /* line 244, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
      body .wrapper .yellow h2:before {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        content: "";
        width: 90%;
        height: 1px;
        box-shadow: 1px 1px 1px 1px #A5B3AA; }
    @media (min-width: 800px) {
      /* line 256, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
      body .wrapper .yellow p {
        margin: 5px;
        padding-bottom: 10px;
        display: inline-block;
        width: 55%;
        text-align: justify;
        font-size: 12pt;
        color: #A5B3AA; } }
    @media (max-width: 799px) {
      /* line 268, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
      body .wrapper .yellow p {
        margin: 5px;
        padding-bottom: 10px;
        display: inline-block;
        width: 60%;
        text-align: justify;
        font-size: 12pt;
        color: #A5B3AA; } }
    @media (min-width: 800px) {
      /* line 280, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
      body .wrapper .yellow img {
        float: right;
        width: 35%;
        height: 100%; } }
    @media (max-width: 779px) {
      /* line 288, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
      body .wrapper .yellow img {
        float: right;
        width: 25%;
        height: 100%; } }
    /* line 295, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
    body .wrapper .yellow a {
      overflow: hidden;
      display: inline-block;
      border: 1px solid #2790B0;
      text-align: center;
      color: #2790B0;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      padding: 5px;
      position: relative;
      border-radius: 5px; }
      /* line 308, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
      body .wrapper .yellow a span {
        z-index: 5;
        position: relative; }
      /* line 313, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
      body .wrapper .yellow a:after {
        content: "";
        display: block;
        background: #333333;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 200ms ease-in-out; }
      /* line 325, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
      body .wrapper .yellow a:hover:after {
        top: 0%; }
      /* line 329, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
      body .wrapper .yellow a:hover {
        color: #F1DB42; }
  /* line 338, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
  body .graphic {
    padding: 5px;
    margin: 5px;
    width: 20%;
    height: 100%; }
    /* line 344, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
    body .graphic .one {
      float: left;
      overflow: hidden;
      box-shadow: inherit; }
      /* line 349, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
      body .graphic .one img {
        position: relative;
        width: 100%;
        height: 100%;
        box-shadow: inherit; }
  /* line 359, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
  body #owl-demo {
    width: 100%; }
  /* line 363, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
  body #owl-demo .owl-item {
    margin: 5px;
    width: 100%; }
  /* line 368, /Users/mkruza/2.2/source/assets/stylesheets/soar_cessna.scss */
  body #owl-demo .owl-item img {
    display: block;
    width: 100%;
    height: auto; }
