<footer>

  <!-- Class Exercise Start -->
  <div class="footer_wrap">

      <span class="logo">
        <img src="/assets/images/msk_logo_inverted.jpg" />
      </span>

      <span class="signature">
        <img src="/assets/images/signature_white_on_black.jpg" />
      </span>

  </div>


  <!-- Class Exercise End -->
</footer>
