<footer>

  <!-- Class Exercise Start -->
  <div class="footer_wrap">

      <span class="logo">
        <a href="/index.html"> 
          <img src="/assets/images/msk_logo_inverted.jpg" />
        </a>
      </span>

      <span class="signature">
        <a href="/index.html"> 
          <img src="/assets/images/signature_white_on_black.jpg" />
        </a>
      </span>

  </div>


  <!-- Class Exercise End -->
</footer>
