<footer>

  <!-- Class Exercise Start -->
  <div class="footer_wrap">
    
    <div class="jpg-frame">
      <img src="assets/images/p11_f1.jpg" width="50" height="50" />
    </div>

    <container id="content">
      <p> Marc S. Kruza </p>
    </container>

  </div>
  <!-- Class Exercise End -->
</footer>
