<header>
  <div class="container"> 
      <div class="signature"> 
        <a href="/index.html"> 
          <img src="assets/images/marc_s_kruza_print.jpg" width="200" height="60" />
        </a>

      </div>

    <nav>
      <ul id="main-nav">    

        <li class="has-dropdown"> <a href="#"> Novels </a> 
          <ul class="dropdown">

            <li> 
              <a href="http://www.amazon.com/Me-Myself-Im-Lost-Nerd/dp/150850234X/ref=sr_1_2?ie=UTF8&qid=1431172322&sr=8-2&keywords=me%2C+myself+and+i%27m+lost"> 
                How The Kook Found His Cool: Paperback 
              </a>
            </li>
            
            <li>
              <a href="http://www.amazon.com/Me-Myself-Im-Lost-Freshman-ebook/dp/B00XD5XWHM/ref=sr_1_1?ie=UTF8&qid=1431172322&sr=8-1&keywords=me%2C+myself+and+i%27m+lost">
                How The Kook Found His Cool: Kindle
              </a>
            </li>
            
            <li>
              <a href="https://www.goodreads.com/book/show/25518289-me-myself-and-i-m-lost?from_choice=false&from_home_module=false"> 
                Review it on Goodreads!
              </a>
            </li>

          </ul>
        </li>

        <li class="has-dropdown"> <a href="#"> Blogs </a> 
          <ul class="dropdown">
            <li> 
              <a href="/soar_cessna.html"> 
                Soar Cessna 
              </a> 
            </li>
            <li> 
              <a href="/kauai.html"> 
                Backpacking in Paradise
              </a> 
            </li>

          </ul>
        </li>
        <!-- FIX BELOW: second-level dropdown not working --> 

        <li class="has-dropdown"> <a href="#"> Articles </a> 
          <ul class="dropdown">
            <li> 
              <a href="http://www.amazon.com/Chicken-Soup-Soul-Preteens-Inspiration/dp/1935096737">     Staying By His Side 
              </a> 
            </li>
          </ul>
        </li>

      </ul>
    </nav>

      <div class="social-media google-plus">
        <a href="https://plus.google.com/b/107140843890666097689/107140843890666097689/about?gmbpt=true&pageId=107140843890666097689">  g+ 
        </a>
      </div>
      <div class="social-media twitter">
        <a href="https://twitter.com/mkruza"> t 
        </a>
      </div> 
      <div class="social-media facebook"> 
        <a href="https://www.facebook.com/marckruza/?skip_nax_wizard=true"> 
          f 
        </a>
      </div> 
      
      </div>
 
  </div>
</header>
