<!DOCTYPE html>

<html>

<head>
    <title> 
        Novels and Blogs: Marc S. Kruza 
    </title> 
    <!-- <link rel="stylesheet" href="styles.scss" /> -->
    <script src="assets/javascripts/jquery-1.11.3.min.js">
    </script>

    <script src="assets/javascripts/test_script.js">
    </script>

    <!-- Basic stylesheet -->
    <link rel="stylesheet" href="assets/stylesheets/owl.carousel.css">
     
     <!-- Default Theme -->
    <link rel="stylesheet" href="assets/stylesheets/owl.theme.css">
     
    <!-- Include js plugin -->
    <script src="assets/javascripts/owl.carousel.js">
    </script>

    <script src="assets/javascripts/carousel.js">
    </script>

</head>

<!-- begin page wrapper and body -->
<body> 

    <div class="screen_wide_spacer"> </div>
    
    <div class="wrapper">
        <div class="red">
            <div class="wrapper">        

              <div class="orange">  
                  <h1>  
                    Welcome to My Website
                  </h1> 
                  <img src="assets/images/me.jpg"/> 
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>

              </div> 

              <div class="yellow">
                <div class="graphic-right">
                    <div id="owl-demo">         
                        <div class="owl-item">        
                            <img src="assets/images/f16_p01_drownrace.jpg">  
                        </div>   
                        <div class="owl-item">                        
                            <img src="assets/images/p11_f1.jpg">  
                        </div>
                        <div class="owl-item">          
                            <img src="assets/images/p13_f2_fore.jpg">      
                        </div>
                        <div class="owl-item">      
                            <img src="assets/images/p19_f6_surfing.jpg">     
                        </div>       
                    </div>     
                </div>
              </div>               

            </div>


        </div>


    </div>



</body> 

</html>
