---
title: Welcome To Kruza
---

<div id="content" class="container">

  <!-- Top Slider / Carousel -->
  <section>
    <div class="homepage-hero">
      <h3>Novel: How the Kook Found His Cool</h3>
    </div>

    <div id="content" class="container">
      <div class="jpg-frame">
        <img src="/assets/images/novel_cover_lowrez.jpg" width="150" height="225"/>
      </div>
    </div>
  </section>
  <!-- End Top Slider / Carousel -->

  <!-- Class Exercise Start -->
  <div class="footer_wrap">
    <div class="icon-container2">
      <img src="/assets/images/p11_f1.jpg" width="50" height="50" />
    </div>
    <div class="icon_wrap">
      <img src="/assets/images/p19_f6_surfing.jpg" width="50" height="50" />
    </div>
    <div class="icon_wrap">
      <img src="/assets/images/rat.jpg" />
    </div>
    <div class="icon_wrap">
      <img src="/assets/images/rat.jpg" />
    </div>
  </div>
  <!-- Class Exercise End -->

</div>
