<!DOCTYPE html>

<html>
<head>

    <title> Marc S. Kruza: Novels and Blogs </title> 


    <link rel="stylesheet" href="styles.css" />
</head>

<!-- begin page wrapper and body -->
<body> 
    <div class="screen_wide_spacer"> </div>
    
    
    <div class="wrap">
        <div class="title">
            How the Kook Found His Cool
        </div>
        <div class="graphic">
            <img src="assets/images/novel_cover_lowrez.jpg"
            width="212.5" height="275"/>     
        </div>
        <div class="descr-and-links">
            <div class ="description">
                <div class="text-descr">
                    What's more dangerous: asteroids and space aliens, or swirlies and
                    high school punks? Join Matt, an up-and-coming graphic artist, as
                    he navigates the bizarre universe of his freshman year. In his sketchbook, 
                    he relates how much high school feels like a
                    bizarre space prison where chaos rules and friends are fleeting.
                </div> 
                <div class="graphic-right">
                    <img src="assets/images/p11_f1.jpg"
                    width="150" height="150"/>     
                </div>
            </div>
            <div class ="links">    
                <a href="http://www.amazon.com/Me-Myself-Im-Lost-Nerd/dp/150850234X/ref=sr_1_2?ie=UTF8&qid=1431172322&sr=8-2&keywords=me%2C+myself+and+i%27m+lost" class="button"> Buy in Paperback </a>
                <a href="http://www.amazon.com/Me-Myself-Im-Lost-Freshman-ebook/dp/B00XD5XWHM/ref=sr_1_1?ie=UTF8&qid=1431172322&sr=8-1&keywords=me%2C+myself+and+i%27m+lost" class="button"> Buy on Kindle</a>
            </div>
        </div>
    </div>


    <div class="item-wrap"> 
        Kauai: Backpacking in Paradise 
        <div class="item-descr"> Four days in an actual tropical paradise really, really wasn't enough. </div>
        <a href="#" class="button"> Read article </a>
    </div>

    <div class="item-wrap"> Planes, Towtrucks and Automobiles
        When your car breaks down on the drive home for Christmas, do you: 
            - Call your pilot friend and have him fly you home, or
            - Learn that "FORD" stands for "found on roadside dead" 
            - Call a AAA towtruck, 
            - All of the above?
                        <a href="#" class="button"> Read blog</a>
    </div>  

    <div class="item-wrap"> Staying By His His Side
        Staying By His Side, an essay I wrote recounting a fun yet unexpectedly scary day with my grandpa at Busch Gardens, appeared in Chicken Soup For The Soul Just For Preteens.
        <a href="http://www.amazon.com/Chicken-Soup-Soul-Preteens-Inspiration/dp/1935096737" class="button"> Buy in Paperback</a>

        <a href="http://www.amazon.com/Chicken-Soup-Soul-Preteens-Inspiration-ebook/dp/B004G8QTLQ/ref=tmm_kin_swatch_0?_encoding=UTF8&qid=&sr=" class="button"> Buy on Kindle</a>
    </div>

    <!-- Carousel -->

    <div class="infiniteCarousel">
      <div class="wrapper">
        <ul>
          <li><img src="assets/images/p11_f1.jpg" height="75" width="75" alt="Image P11" /></li>
        </ul>
        <ul>
          <li><img src="assets/images/f16_p01_drownrace.jpg" height="75" width="75" alt="Image F16" /></li>
        </ul>
        <ul>
          <li><img src="assets/images/p19_f6_surfing.jpg" height="75" width="75" alt="Image F19" /></li>
        </ul>
      </div>
    </div>



</body> 


</html>
