<!DOCTYPE html>

<html>

<head>
    <title> 
        Novels and Blogs: Marc S. Kruza 
    </title> 
    <!-- <link rel="stylesheet" href="styles.scss" /> -->
    <script src="assets/javascripts/jquery-1.11.3.min.js">
    </script>

    <script src="assets/javascripts/test_script.js">
    </script>

    <!-- Basic stylesheet -->
    <link rel="stylesheet" href="assets/stylesheets/owl.carousel.css">
     
     <!-- Default Theme -->
    <link rel="stylesheet" href="assets/stylesheets/owl.theme.css">
     
    <!-- Include js plugin -->
    <script src="assets/javascripts/owl.carousel.js">
    </script>

    <script src="assets/javascripts/carousel.js">
    </script>

</head>

<!-- begin page wrapper and body -->
<body> 

    <div class="screen_wide_spacer"> </div>
    
    <div class="wrapper">
        <div class="red">
            <div class="wrapper">        

              <div class="orange">  
                  <h1>  
                    Welcome to My Website
                  </h1> 
                  <img src="assets/images/me.jpg"/> 
                  <p>
                    Having graduated from Florida State with degrees in Computer
                    Science and Music Composition, my interests range from 
                    writing novels to writing computer programs, and from 
                    singing in church to playing in a local rock band. I love 
                    beaches, mountains, surfing and hiking... and writing about 
                    them. I'd love to find a way to put my talents to work for
                    you!
                  </p>

              </div> 

              <div class="yellow">
                <div class="graphic-right">
              
                </div>
              </div>    

             
            </div>
        </div>

        <div class="red">
            <div class="wrapper">        

              <div class="orange">  
                  <h1>  
                    How the Kook Found His Cool
                  </h1> 
                  <img src="assets/images/novel_cover_lowrez.jpg"/> 
                  <p>
                    What's more dangerous: asteroids and space aliens, or swirlies and high school punks? Join Matt, an up-and-coming graphic artist, as he navigates the bizarre universe of his freshman year while relating in his sketchbook just how much high school feels like a bizarre space prison in which there are no rules, no order, and no friends.
                  </p>

              </div> 
           
              <div class="yellow">
                <div class="graphic-right">
                    <div id="owl-demo">         
                        <div class="owl-item">        
                            <img src="assets/images/f16_p01_drownrace.jpg">  
                        </div>   
                        <div class="owl-item">                        
                            <img src="assets/images/p11_f1.jpg">  
                        </div>
                        <div class="owl-item">          
                            <img src="assets/images/p13_f2_fore.jpg">      
                        </div>
                        <div class="owl-item">      
                            <img src="assets/images/p19_f6_surfing.jpg">     
                        </div>       
                    </div>     
                </div>
              </div>  
            </div>
        </div>


    </div>



</body> 

</html>
